<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nuevo médico</h4>
                <h6 class="card-subtitle">Datos personales</h6>
                <form class="form-horizontal p-t-20"
                [formGroup]="medicoForm"
                (submit)="guardar()">

                    <div class="form-group row" *ngIf="medicoSelected">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Avatar</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <img 
                                [src]="medicoSelected.img | imagen:'medicos'" 
                                [alt]="medicoSelected.nombre" 
                                class="img-thumbnail">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="exampleInputuname3" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input 
                                type="text" 
                                class="form-control" 
                                id="exampleInputuname3"
                                formControlName="nombre" 
                                placeholder="Nombre del médico">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail3" class="col-sm-3 control-label">Hospital</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <select class="form-control"
                                formControlName="hospital" >
                                    <option value="">Seleccione... </option>
                                    <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-9">
                            <button 
                            type="submit" 
                            [disabled]="medicoForm.invalid"
                            class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 animated fadeIn fast" *ngIf="hospitalSelected">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospital</h4>  
                <h6 class="card-subtitle">{{hospitalSelected.nombre}}</h6>              
                <img [src]="hospitalSelected.img | imagen:'hospitales'" [alt]="hospitalSelected.nombre" class="img-thumbnail">                
            </div>
        </div>
    </div>
</div>