<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mi perfil</h4>
                <h6 class="card-subtitle">Ajustes</h6>
                <form class="form p-t-20" [formGroup]="perfilForm" (submit)="actualizarPerfil()">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="exampleInputuname" 
                            placeholder="Nombre"
                            formControlName="nombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input 
                            type="email" 
                            class="form-control" 
                            id="exampleInputEmail1" 
                            placeholder="Email"
                            formControlName="email">
                        </div>
                    </div>
                    <button 
                    type="submit" 
                    class="btn btn-success waves-effect waves-light m-r-10"
                    [disabled]="perfilForm.invalid">
                    Guardar
                    </button>                    
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Imagen de perfil</h4>
                <h6 class="card-subtitle">Cmbiar</h6>
                
                <div class="text-center">
                    <img *ngIf="!imgTemp" class="img-avatar" [src]="usuario.imagenUrl" [alt]="usuario.nombre">
                    <img *ngIf="imgTemp" class="img-avatar" [src]="imgTemp" [alt]="usuario.nombre">  
                </div>

                <input type="file" (change)="cambiarImagen($event.target.files[0])">
                <button 
                type="submit"
                 class="btn btn-success waves-effect waves-light mt-3 m-r-10"
                 [disabled]="!imagen"
                 (click)="subirImagen()">
                 Cambiar imagen
                </button>                    
            </div>
        </div>
    </div>
</div>
